doctype html
html(lang='en')
  include ./resource
  link(rel="stylesheet" type="text/css" href='/stylesheets/user/userPanel.css')
  include ./navigator
  div.row
    div.col-md-9.col-sm-9
      div.panel.panel-default.content-panel-left
        div.panel-body
          ul.nav.nav-tabs.nav-website(role='tablist')
            li.active(role="presentation")
              a(href='') 论坛
            li(role="presentation")
              a(href='') 问答
            li(role='presentation')
              a(href='') 作品
          div.topic_list
            each topic in topicList
              div.cell
                img.cell-author-img(src=topic.author.avatar)
                span.reply_count= topic.comment.length+"/"+topic.watchedNum
                -var topicUrl = '/topic/'+topic._id
                a.cell-title(href=topicUrl)=topic.title
                div.last-time
                  span.last_active_time=topic.updateAtStr

    div.col-md-3.col-sm-3
      if(userinfo)
        include ./user/userPanel
        +userPanel("我的信息",user)

      div.panel.panel-default.content-panel-right
        div.panel-body(style='padding:10px 15px')
          div.col-md-12
            a.btn.btn-success(href='/topic/create') 发布新话题

      div.panel.panel-default.content-panel-right
        div.panel-heading
          div 积分榜
        div.panel-body
          div.credit_userlist
            -each userCredit in userCreditList
              div.row
                div.col-md-3
                  span.userCreditName=userCredit.credit
                div.col-md-4
                  span.userCreditName
                    a.userCredit.username(href='')=userCredit.username
